<h1>{{translations.COLLECTIONPAGE}}</h1>

<div ng-repeat="insects in localStorage.collection">
	<div ng-if="insects.length > 0">
		<h2 ng-if="insects[0].category == 'Beetle'">{{translations.Ant}}</h2>
		<h2 ng-if="insects[0].category == 'Beetle'">{{translations.Beetle}}</h2>
		<h2 ng-if="insects[0].category == 'Butterfly'">{{translations.Butterfly}}</h2>
		<h2 ng-if="insects[0].category == 'Caterpillar'">{{translations.Caterpillar}}</h2>
		<h2 ng-if="insects[0].category == 'Spider'">{{translations.Spider}}</h2>
		<ul align="center" class="insect-thumbs">
			<li ng-repeat="insect in insects">
				
				<div ng-repeat="translation in insect.names">
					<p ng-if="translation.language==lang">
					{{translation.name}}
					</p>
					<p>
					{{insect.latinName}}
					</p>
				</div>
				<img ng-src="{{insect.images[0]+'_thumb.jpg'}}" ng-click="viewDetail(insect)"/>
			</li>
		</ul>
	</div>
</div>  



