<table align="center">
<tr> <td align="center">
<p>{{translations.NAME}}: {{insect.name}}</p>
<p> {{translations.LATINNAME}}: {{insect.latinName}}</p>

</td></tr>

<tr><td align="center"><p>{{translations.DESCRIPTION}}: {{description}}</p></td></tr>
<tr><td align="center">
	
	<div ng-if="insect.images.length > 1"> 

		<div class="insect-images">
			 <img ng-src="{{img}}" 
			 	class="phone" ng-repeat="img in insect.images" 
			 	ng-class="{active: mainImageUrl==img}"/>
		</div>
	</div>
	<div ng-if="insect.images.length ==1">
		<div class="insect-image">

			 <img ng-src="{{insect.images[0]}}" 
			 	class="phone"/>
		</div>
	</div>
	<div ng-if="insect.images.length > 1">
		<ul class="insect-thumbs">
		  	<li ng-repeat="img in insect.images">
		 		<img ng-src="{{img}}" ng-click="setImage(img)"/>
		  	</li>
		</ul>
	</div>
 </td></tr> 

<p ng-model="prevUrl" value={{prevUrl}}></p>
<tr><td align="center">
<br>
<div ng-switch="prevUrl">
  <div ng-switch-when="#/list">
     <input type="button" class="button button1" value="{{translations.NEWSEARCH}}" ng-click="new_search()"/>
		<input type="button" class="button" value="{{translations.ADDTOCOLLECTION}}" ng-click="add_to_collection()"/>
  </div>
  <div ng-switch-when="#/collection">
     <input type="button" class="button button1" value="{{translations.RETURNTOCOLLECTION}}" ng-click="collection()"/>
  </div>
  <div ng-switch-default>
     <h1>Switch</h1>
     <p>Select topic from the dropdown, to switch the content of this DIV.</p>
  </div>
</div>
</td></tr>

</table>