<p margin-top="2em"/>
<table  align="center">
<tr>
<td  width="20%" height="20%" bgcolor="yellow" align="center"></td>></a>
<td width="20%" height="20%" bgcolor="#008CBA" align="center"><input type="button" class="button button-blue" value="{{translations.SEARCH}}" ng-click="search()" style="width:100%"/></td>

</tr>
<tr width="20%" height="%20">
<td width="20%" height="20%" bgcolor="red" align="center"><input type="button" class="button button-red" value="{{translations.COLLECTION}}" ng-click="collection()" height="100%" width="100%"  style="width:100%"/></td>
<td width="20%" height="20%" bgcolor="#4CAF50" align="center"><input type="button" class="button button-green" value="{{translations.UPLOAD}}" ng-click="upload()" height="100%" width="100%"  style="width:100%"/></td>

</tr>

</table>