<p margin-top="2em"/>

<form align="center" action="/insect/insert" name="myForm" enctype="multipart/form-data" method="post">
	<table align="center">
	<tr align="center"><td width="10%">{{translations.ENGLISHNAME}}: (*) </td><td><input type="text" name="enName" ng-model="user.enName" required/> 
	<td><span ng-show="myForm.enName.$touched && myForm.enName.$invalid">English name is required.</span></td>
	</td></tr>
	<tr align="center"><td width="10%">{{translations.FINNISHNAME}}: </td><td><input type="text" name="fiName" ng-model="user.fiName"/> 	</td></tr>
	<tr align="center"><td width="10%">{{translations.LATINNAME}}: (*)</td><td> <input type="text" name="latinName" ng-model="user.latinName" required/></td>
	<td><span ng-show="myForm.latinName.$touched && myForm.latinName.$invalid">Latin name is required.</span></td>	
	</tr>
	
	<tr align="center"><td width="10%">	{{translations.CATEGORY}}: (*)</td>
		<td>
      <select type="select" name="category" ng-model="user.category" required>
      	<option value=""></option>
			<option value="Ant">{{translations.ANT}}</option>        
	     	<option value="Beetle">{{translations.BEETLE}}</option>
	     	<option value="Butterfly">{{translations.BUTTERFLY}}</option>
	     	<option value="Caterpillar">{{translations.CATERPILLAR}}</option>        
	   	<option value="Spider">{{translations.SPIDER}}</option>	      
	   </select>
	</td>
	<td><span ng-show="myForm.category.$touched && myForm.category.$invalid">Category is required.</span></td>
	</tr>
	   
	<tr align="center"><td width="10%"> {{translations.PRIMARYCOLOR}}: (*)</td>
      <td>
      <select name="primaryColor" ng-model="user.primaryColor" required>
      	<option value=""></option>
        <option value="Black">{{translations.BLACK}}</option>
        <option value="Blue">{{translations.BLUE}}</option>
        <option value="Brown">{{translations.BROWN}}</option>
        <option value="Golden">{{translations.GOLDEN}}</option>
        <option value="Green">{{translations.GREEN}}</option>
        <option value="Grey">{{translations.GREY}}</option>
		  <option value="Orange">{{translations.ORANGE}}</option>
        <option value="Red">{{translations.RED}}</option>
        <option value="Silver">{{translations.SILVER}}</option>
        <option value="Turquoise">{{translations.TURQUOISE}}</option>
        <option value="Violet">{{translations.VIOLET}}</option>
        <option value="White">{{translations.WHITE}}</option>
        <option value="Yellow">{{translations.YELLOW}}</option>
      </select></td>
      <td><span ng-show="myForm.primaryColor.$touched && myForm.primaryColor.$invalid">Primary color is required.</span></td>
     </tr>
      <tr><td width="10%"> {{translations.SECONDARYCOLOR}}: (*)</td> 
      <td>
     <select name="secondaryColor"  ng-model="user.secondaryColor" required>
				<option value=""></option>
			  <option value="Black">{{translations.BLACK}}</option>
			  <option value="Blue">{{translations.BLUE}}</option>
			  <option value="Brown">{{translations.BROWN}}</option>
			  <option value="Golden">{{translations.GOLDEN}}</option>
			  <option value="Green">{{translations.GREEN}}</option>
			  <option value="Grey">{{translations.GREY}}</option>
			  <option value="Orange">{{translations.ORANGE}}</option>
			  <option value="Red">{{translations.RED}}</option>
			  <option value="Silver">{{translations.SILVER}}</option>
			  <option value="Turquoise">{{translations.TURQUOISE}}</option>
			  <option value="Violet">{{translations.VIOLET}}</option>
			  <option value="White">{{translations.WHITE}}</option>
			  <option value="Yellow">{{translations.YELLOW}}</option>
		</td>
		<td><span ng-show="myForm.secondaryColor.$touched && myForm.secondaryColor.$invalid">Secondary color is required.</span></td></tr>
		<tr align="center"><td width="10%"> {{translations.NUMBEROFLEGS}}: (*)</td>
		<td> 
      <select name="legs" ng-model="user.legs" required>
      	<option value=""></option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>

      </select>   
	</td>
	<td><span ng-show="myForm.legs.$touched && myForm.legs.$invalid">Number of legd are required.</span></td>	
	</tr>
	<tr align="center"><td width="10%">	{{translations.WIKIENTRY}}:</td>
	<td> <input type="text" name="wiki" ng-model="user.wiki"/>
	</td></tr>
	  <tr align="center">
	  <td width="10%">
	 {{translations.SELECTANIMAGETOUPLOAD}}: (*)</td>
	 <td>
 	<input type="file" name="userPhotos" file-model="myFile" required/>
  	</td>
	<td><span ng-show="myForm.userPhotos.$touched && myForm.userPhotos.$invalid">A photo is required.</span></td>  	
  	</tr>
	
	<tr align="center"><td>  	
	{{translations.IMAGELINKS}}:</td>  
  	<td>
  	<textarea name="imageLinks" ng-model="user.imageLinks"></textarea>
  	</td></tr>  	
  	
  	<tr align="center"><td align="center">
	<input type="submit" class="button" value="{{translations.UPLOADINSECT}}">
  
  	</td></tr>
  	</table>
 </form>	  	
